extends ../base.pug
//- Si usas block no uses extends para evitar un bucle infinito, si has añadido el include en el base.pug

block variables
  - var template = 'home'

block content
  h1.home__title Home
